
/* STYLES FOR 1024 AND LARGER*/

.grid-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "nav"
        "main"
        "footer"
}
/* CSS FOR NAVBAR AND SUBNAV BAR*/


  /* CODE FOR HAMBURGER MENU HERE*/


/*HAMBURGER ENDS HERE */

#main {
  width: 90vw;
  margin: auto;
  min-height: calc(100vh - 180px);
}
#intro{
    grid-column: 2/3;
}
#search {
    grid-column: 2/3;
}
#minutes-title{
    grid-column: 2/3;
}
#card-container{
    grid-column: 2/3;
}
#card{
    display: grid;
    grid-template-columns: 30% 1fr;
}

.doc1-img1{
    justify-self: center;
}

/*1024 AND LARGER STYLES END HERE*/






/* CODE FOR MAIN CONTENT AREA STARTS HERE*/

.items {
    grid-column: 2/3;
}
.item {
    background-color: #001621;
    color: white;
    display: grid;
    grid-template-columns: [image-start] 1fr [image-end];
    grid-template-rows: [image-start] 1fr auto auto auto 1fr [image-end];
    grid-template-areas: '.' 'headline' 'text' 'button' '.';
    margin: 2rem auto;
    text-align: center;
  
  }
  .item__image {
    grid-area: image;
    z-index: 0;
    align-self: stretch;
    -o-object-fit: cover;
       object-fit: cover;
    mix-blend-mode: overlay;
    max-width: 100%;
  }
  .item__headline {
    grid-area: headline;
    z-index: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: end;
  }
  .item__text {
    grid-area: text;
    z-index: 1;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .item__button {
    grid-area: button;
    margin:1em;
    z-index: 1;
  }
  
  .item__headline {
    font-size: 1.5rem;
    margin-bottom: .5em;
  }
  
  .item__button {
    color: #efbb53;
    font-size: 1rem;
  }

  @media (min-width: 640px) and (max-width: 1023px) {
    .items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }
  }

  @media (min-width: 1024px) {
    #main {
        display: grid;
        grid-template-columns: 22% 1fr 22%;
    }
    .items {
      grid-column: 2/3;
    }
    .item {
      background-color: transparent;
      color: black;
      grid-template-columns: 1fr 5fr;
      grid-template-areas: 'image ....' 'image headline ' 'image text' 'image button' 'image ....';
      grid-column-gap: 20px;
      text-align: left;
    }
    .item__headline {
      font-size: 1rem;
      margin-bottom: .5em;
    }

    .item__text {
      margin: 0;
    }
    .item.even {
      grid-template-areas: 'image ....' 'image headline' 'image text' 'image button'  'image ....';
    }
    .item__image {
      -o-object-fit: contain;
         object-fit: contain;
    }
  }
  
  @media (max-width: 1023px) {
    .item__image {
      visibility: hidden;
    }
  }