
.grid-items {
    grid-column: 2/3;
}
.image-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 48%));
    gap: 2%;
    /*IE grid styles*/
    display: -ms-grid;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-columns: 1fr 1fr;
}
.image-grid > *, .image-grid a {
    display: block;
    position: relative;
}
.title{
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
}

.media{

    /*ie styles*/
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
}
.documents{

     /*ie styles*/
     -ms-grid-column: 3;
     -ms-grid-column-span: 1;
     -ms-grid-row: 1;
     -ms-grid-row-span: 1;
}
.landmarks{
 
      /*ie styles*/
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
}
.links{

          /*ie styles*/
          -ms-grid-column: 3;
          -ms-grid-column-span: 1;
          -ms-grid-row: 2;
          -ms-grid-row-span: 1;
}

.resource{
    width: 100%;
}

/* code for the overlays start here*/



.span-text{
    position: absolute;
    height: 100%;  
    width: 100%;   
    top: -14px;   
    left: 0;
}

.text{
   position: absolute;
   top:50%;
   left:50%;
   transform: translateY(-50%) translateX(-50%);
   
}

.text p{
    color: white;
    border-bottom: solid 3px #9F895D;
    font-size: 35px;
}



.description-text{
    position: absolute;
    height: 100%;  
    width: 100%;   
    top: -10px;   
    left: 0;
}

.text-2{
   position: absolute;
   top:62%;
   left:50%;
   transform: translateY(-50%) translateX(-50%);
   
}

.text-2 p{
    color: white;
    font-size: 18px;
    white-space: nowrap;
}


@media screen and (max-width:480px){
    .image-grid {
        
        grid-template-rows: repeat(1, 1fr);
        margin-top: 10%;
        grid-gap: 2%;
    }
    .media{
        display: grid;
        grid-row: 1/2;
        margin: 0;
    }
    .documents{
        display: grid;
        grid-row: 2/3;
        margin:0;
    }
    .landmarks{
        display: grid;
        grid-row: 3/4;
        margin: 0;
    }
    .links{
        display: grid;
        grid-row: 4/5;
        margin:0;
    }
    .text-2{
        display: none;
        
     }
     
     .text-2 p{
         font-size: 10px;
    
     }
     .description-text{
         font-size: 10px;
     }
     .text p {
         font-size: 23px;
     }
}
