
/* STYLES FOR 1024 AND LARGER*/
body {
    font-family: Arial serif;
    font-size: 16px;
    margin: 0;
}
.elements .menu , .subnav ul li{

    font-size: 1.3rem;
}
.grid-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "nav"
        "main"
        "footer"
}
/* CSS FOR NAVBAR AND SUBNAV BAR*/


  /* CODE FOR HAMBURGER MENU HERE*/


/*HAMBURGER ENDS HERE */

#main {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
}
#intro{
    grid-column: 2/3;
}
#search {
    grid-column: 2/3;
}
#minutes-title{
    grid-column: 2/3;
}
#card-container{
    grid-column: 2/3;
}
#card{
    display: grid;
    grid-template-columns: 30% 1fr;
}

.doc1-img1{
    justify-self: center;
}

/*1024 AND LARGER STYLES END HERE*/






/* CODE FOR MAIN CONTENT AREA STARTS HERE*/
#main-section{

    display:grid;
    grid-template-columns: 22% 1fr 22%;


}

#main-content{
    grid-column: 2/3;
    
}


/*
footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    right:0;
    left:0;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color:#252525;
    color:white;
    height:50px;
    align-content: center;
}

.visit {
    grid-column: 2/6;
    margin: 0;
    
}

.alachua-info{
    font-size: 15px;
    color:white;
   
}
*/