
/* STYLES FOR 1024 AND LARGER*/
body {
    font-family: Arial serif;
    font-size: 20px;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "nav"
        "main"
        "footer"
}
#main {
    grid-area: main;
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    
}
.main-content{
    grid-column: 2/3;
}
/* CSS FOR NAVBAR AND SUBNAV BAR*/

  /* CODE FOR HAMBURGER MENU HERE*/

/*HAMBURGER ENDS HERE */




/*
footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    right:0;
    left:0;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color:#252525;
    color:white;
    height:50px;
    align-content: center;
}

.visit {
    grid-column: 2/6;
    margin: 0;
    
}

.alachua-info{
    font-size: 15px;
    color:white;
   
}
*/

/*1024 AND LARGER STYLES END HERE*/

@media screen and (max-width: 480px) {
   
    /* CSS FOR NAVBAR AND SUBNAV BAR*/

    #main {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .main-content{
        grid-column: 1/2;
        padding: 7px;
        align-content: justify;
    }

  


}
